.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: relative;
  z-index: 5;
}

.header-nav ul {
  display: flex;
  flex-direction: row;

  li {
    a {
      margin-right: 25px;
      color: #ffffff;
      font:bold 13px 'Roboto', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.33px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
